*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral); /* setting the neutral background color, before answers are applied to change the hue*/
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 35%);
}

body.correct { /* When body has a class == correct, this is the color of the background.*/
    --hue: var(--hue-correct); 
}

body.wrong { /* When body has a class == wrong, this is the color of the background.*/
    --hue: var(--hue-wrong); 
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 3px;
}

.btn_grid {
    display: grid;
    grid-template-columns: repeat(2, auto); /* gives us two columns in the grid, with automatic width*/
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover{
    border-color: black;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong{
    --hue: var(--hue-wrong);
}

.start_btn, .next_btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide { /* Hides all buttons until "start" is clicked*/
    display: none;
}